@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", system-ui, sans-serif;
}

body {
  margin-top: 15px;
  background: rgb(38, 38, 38);
  display: grid;
  justify-content: center;
}

header,
footer {
  text-align: center;
  background-color: rgb(108, 134, 147);
  background: linear-gradient(
    120deg,
    rgb(111, 102, 213) 0%,
    rgb(22, 105, 200) 25%,
    rgb(27, 170, 214) 75%,
    rgb(111, 102, 213) 100%
  );
}

header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px;
  text-align: right;
  padding-right: 10px;
}

#header-title {
  font-weight: 700;
  font-size: 24px;
}

#author {
  font-size: 14px;
}

main {
  padding: 0 15px 15px;
  background-color: hsl(202, 15%, 75%);
  max-width: 340px;
}

@media (min-width: 601px) {
  main {
    max-width: 800px;
  }
}

form {
  padding-top: 15px;
  display: flex;
  gap: 10px;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

label {
  font-size: 16px;
  font-weight: 600;
}

#input-output-container {
  display: grid;
  row-gap: 15px;
}

@media (min-width: 601px) {
  #input-output-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
}

input {
  font-size: 16px;
  background-color: hsl(0, 0%, 94%);
  max-width: 70px;
  font-weight: 600;
}

#input-container,
#output-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#input-title,
#output-title {
  font-size: 20px;
  font-weight: 600;
}

#input,
#output {
  padding: 15px;
  background-color: hsl(0, 0%, 94%);
  font-size: 18px;
  font-weight: 500;
}

#input {
  resize: none;
  height: 100%;
}

#output {
  line-height: 1.6;
  letter-spacing: 1.4px;
}

.bold {
  font-weight: 800;
}

.spacer {
  padding-top: 10px;
  border-bottom: 1px solid hsl(200, 15%, 40%);
}
